.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
  min-height: 100vh;
  overflow-y: scroll;
  .modal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 20px;
    background: #f1f1f1;
    .close-btn {
      text-align: right;
      cursor: pointer;
      .close-icon {
        font-size: 26px;
      }
    }
  }
  .modal-content-holder {
    position: relative;
    left: 0;
    bottom: 0;
    background: #ffffff;
    min-height: 100vh;
    padding: 20px;
    width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    @media only screen and (max-width: 500px) {
      padding: 0;
      margin-top: -1px;
    }
    .gallery {
      max-width: 70%;
      margin: 30px auto 0 auto;
      @media only screen and (max-width: 500px) {
        max-width: 88%;
      }
      .primary-slider {
        .main-slider-images {
          width: 400px;
          max-height: 500px;
          position: relative;
          @media only screen and (max-width: 500px) {
            max-width: 200px;
          }
          img {
            max-height: 500px;
            @media only screen and (max-width: 500px) {
              max-width: 100%;
            }
            width: 100%;
          }
        }
      }
      .secondary-slider {
        margin-top: 15px;
        div {
          height: 150px;
          @media only screen and (max-width: 500px) {
            max-width: 100px;
          }
          img {
            height: 150px;
            width: 100%;
            @media only screen and (max-width: 500px) {
              max-width: 100px;
            }
          }
        }
      }
    }
    .about-room {
      max-width: 70%;
      margin: 20px auto 10px auto;
      ul {
        padding-left: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        margin-top: 10px;
      }
      @media only screen and (max-width: 500px) {
        max-width: 88%;
        margin: 20px auto;
        ul {
          padding-left: 15px;
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 8px;
          margin-top: 10px;
        }
      }
    }
  }
}

.show-modal {
  display: block;
  animation-name: modalFadeIn;
  animation-duration: .3s;
}

.hide-modal {
  display: none;
  animation-name: modalFadeOut;
  animation-duration: .3s;
}

@keyframes modalFadeIn {
  from {transform: translateY(50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

@keyframes modalFadeOut {
  from {transform: translateY(50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}
