@import '../../../app/App.scss';

.modal-container {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
  overflow: hidden;
  width: 80%;
  max-width: 1300px;
  @media only screen and (max-width: 500px) {
    width: 100%;
    max-width: 100%;
    top: 0;
  }
  margin: 0 auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  @media only screen and (max-width: 500px) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .modal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 20px;
    background: #f1f1f1;
    font-family: "Gotham Rounded Medium", sans-serif;
    .close-btn {
      text-align: right;
      cursor: pointer;
      .close-icon {
        font-size: 26px;
      }
    }
  }

  .modal-pink {
    background: $pink;
  }
  .modal-blue {
    background: $blue;
  }
  .modal-yellow {
    background: $yellow;
  }
  .yellow-text {
    color: $yellow;
    font-family: "Gotham Rounded Medium", sans-serif;
  }
  .blue-text {
    color: $blue;
    font-family: "Gotham Rounded Medium", sans-serif;
  }
  .modal-content-holder {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    @media only screen and (max-width: 500px) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    @media only screen and (max-width: 500px) {
      padding: 0;
      margin-top: -1px;
    }
    .grid-content {
      margin: 0;
      overflow-y: scroll;
      @media only screen and (max-width: 500px) {
        margin: 20px 0;
      }
    }
    .close-btn {
      text-align: right;
      margin-top: 20px;
      margin-right: 20px;
      .close-icon {
        font-size: 26px;
        cursor: pointer;
      }
    }
    .gallery {
      max-width: 90%;
      margin: 30px auto 0 auto;
      @media only screen and (max-width: 500px) {
        max-width: 88%;
        margin-top: 0;
      }
      .slick-list {
        .gallery-item {
          height: 400px;
          max-height: 400px;
          @media only screen and (max-width: 500px) {
            height: 250px;
            max-height: 300px;
          }
          overflow: hidden;
          background: #364d79;
          border-radius: 10px;
          img {
            width: 100%;
            height: 100%;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
          }
          h3{
            color: #fff;
          }
        }
      }
    }
    .about-room {
      margin: 20px auto 10px auto;
      padding-right: 5px;
      ul {
        font-family: "Gotham Rounded Medium", sans-serif;
        padding-left: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        margin-top: 10px;
      }
      h3 {
        font-family: "Gotham Rounded Medium", sans-serif;
        color: inherit;
        margin-bottom: 0;
      }
      h2 {
        font-family: "Gotham Rounded Medium", sans-serif;
        color: inherit;
      }
      @media only screen and (max-width: 500px) {
        max-width: 88%;
        margin: 20px auto;
        ul {
          font-family: "Gotham Rounded Medium", sans-serif;
          padding-left: 15px;
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 8px;
          margin-top: 10px;
        }
      }
    }
    .Cosy-amenities-background {
      background: $yellow !important;
      color: $blue !important;
      padding: 10px 20px;
      border-radius: 5px;
      font-family: "Gotham Rounded Medium", sans-serif;
      h3 {
        font-family: "Gotham Rounded Medium", sans-serif;
        margin: 5px 0;
      }
    }
    .Superior-amenities-background {
      background: $yellow !important;
      color: $blue !important;
      padding: 10px 20px;
      border-radius: 5px;
      h3 {
        font-family: "Gotham Rounded Medium", sans-serif;
        margin: 5px 0;
      }
    }
    .Grand-amenities-background {
      background: $pink !important;
      color: $yellow !important;
      padding: 10px 20px;
      border-radius: 5px;
      h3 {
        font-family: "Gotham Rounded Medium", sans-serif;
        margin: 5px 0;
      }
    }
  }
}

.show-modal {
  display: block;
  animation-name: modalFadeIn;
  animation-duration: .3s;
}

.hide-modal {
  display: none;
  animation-name: modalFadeOut;
  animation-duration: .3s;
}

@keyframes modalFadeIn {
  from {transform: translateY(50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

@keyframes modalFadeOut {
  from {transform: translateY(50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}
