@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Gotham";
  font-display: auto;
  src: url("https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

$yellow: #FFE938;
$blue: #313896;
$pink: #EC0B8B;
$lightBlue: #29B8F6;

.maxWidth {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.heading{
  text-align: left;
  h1{
    font-size: 50px;
    @media only screen and (max-width: 500px) {
      font-size: 35px;
    }
  }
  hr {
    height: 8px;
    border: 0;
    outline: 0;
    border-radius: 100px;
    margin-left: 0;
    background: #ffffff;
  }
}
