@import '../../app/App.scss';

.contact-container {
  padding: 5% 0;
  background: #ffffff;
  @media only screen and (max-width: 500px) {
    padding: 20px;
  }
  .main-row {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-column-gap: 20px;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
  .title {
    font-size: 22px;
    color: $blue;
    font-weight: 700;
    margin-bottom: 20px;
    @media only screen and (max-width: 500px) {
      margin-bottom: 10px;
    }
  }
  .git {
    padding: 0 10px;
    color: $blue;
    .git-address, .git-phone, .git-email {
      font-size: 17px;
      font-weight: 500;
      line-height: 28px;
      padding-right: 50px;
    }
    .git-phone, .git-email {
      margin-top: 20px;
      @media only screen and (max-width: 500px) {
        margin-top: 10px;
      }
    }
    .git-phone {
      margin-bottom: 20px;
      @media only screen and (max-width: 500px) {
        margin-bottom: 10px;
      }
    }
    .git-email {
      padding-right: 0;
    }
  }
  .cwc {
    color: $blue;
    padding-right: 50px;
    @media only screen and (max-width: 500px) {
      padding: 10px;
      margin-top: 10px;
    }
    .social-icons {
      img {
        width: 35px;
        cursor: pointer;
        margin-right: 20px;
      }
      margin-bottom: 20px;
    }
    .legal-links {
      margin-bottom: 8px;
    }
  }
}
