@import '../../app/App.scss';

.promises-container {
  padding: 5% 0%;
  @media only screen and (max-width: 500px) {
    padding: 20px;
  }
  .heading {
    h1 {
      color: $blue;
    }
    hr {
      background: $yellow;
      width: 350px;
      @media only screen and (max-width: 500px) {
        width: 210px;
      }
    }
  }

  .col-padding {
    padding: 30px;
    h3 {
      font-size: 25px;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
    }
  }

  .detailed-promises {
    .detailed-promises-col {
      margin-top: 20px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      width: 48%;
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
      ol {
        padding-left: 0;
        list-style-type: none;
        li {
          margin: 20px 0;
        }
      }
      hr {
        height: 5px;
        border: 0;
      }
    }
    .thoughtful {
      h3 {
        margin-bottom: 0;
        @media only screen and (max-width: 500px) {
          font-size: 20px;
        }
      }
      img {
        margin-left: 5px;
        @media only screen and (max-width: 500px) {
          width: 40px;
        }
      }
      hr {
        background: $yellow;
        width: 240px;
        margin-left: 0;
        margin-bottom: 20px;
        @media only screen and (max-width: 500px) {
          width: 200px;
        }
      }
    }
    .sustainability {
      h3 {
        margin-bottom: 0;
        @media only screen and (max-width: 500px) {
          font-size: 20px;
        }
      }
      img {
        margin-left: 5px;
        @media only screen and (max-width: 500px) {
          width: 40px;
        }
      }
      hr {
        background: #ffffff;
        width: 170px;
        margin-left: 0;
        margin-bottom: 20px;
        @media only screen and (max-width: 500px) {
          width: 145px;
        }
      }
    }
  }

  .padding-left {
    padding-left: 30px;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .border-radius-5 {
    border-radius: 5px;
  }

  .blue-text {
    color: $blue;
  }
  .white-text {
    color: #ffffff;
  }
  .blue-bg {
    background: $blue;
  }
  .yellow-bg {
    background: $yellow;
  }
}
