@import '../../app/App.scss';

footer {
  background: $yellow;
  padding: 2%;
  @media only screen and (max-width: 500px) {
    padding: 5%;
  }
  .made-with {
    font-family: "Gotham Rounded Medium", sans-serif;
    color: $blue;
    text-align: center;
    font-size: 16px;
  }
}
